<table class="table table-striped text-center">
  <thead>
    <tr>
      <% if @user.supplier_admin? == true %>
      <th class="text-center">Supplier Name</th>
      <th class="text-center">Supplier Email</th>
        <th class="text-center">Web Address</th>
        <th class="text-center">Phone</th>
      <% end %>
    </tr>
    <tbody>
      <tr>
        <% if @user.supplier_admin? == true %>
        <td><%= @user.supplier.name %></td>
        <td><%= @user.email %></td>
          <td><%= @user.supplier.slug %></td>
          <td><%= @user.supplier.phone %></td>
        <% end %>
      </tr>
    </tbody>
    </thead>
</table>
<div class="footer-links">
  <% if current_user && current_user.supplier_admin? %>
    <div class="adminbutton"><%= link_to "Manage this supplier", supplier_dashboard_path(slug: current_user.supplier.slug) %></div>
  <% end %>
</div>
