<div class="col-md-8 col-md-offset-2">
  <h3>Review Order</h3>
  <table class="table">
    <thead>
      <td>Item</td>
      <td>Quantity</td>
      <td>Price</td>
      <td>Total</td>
    </thead>
    <tbody>

      <% @cart_items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item %></td>
        <td><%= @cart.count_of(item) %></td>
        <td><%= @order.display(item.price) %></td>
        <td><%= @order.display(@cart.line_total(item)) %></td>
      </tr>
      <% end %>

      <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td><%= @order.display(@cart.cost_total) %></td>
      </tr>
    </tbody>
  </table>

  <%= form_for @order do |f| %>
    <input id="coordinate_latitude" name="order[coordinate_attributes][latitude]" type="hidden" />
    <input id="coordinate_longitude" name="order[coordinate_attributes][longitude]" type="hidden" />

    <h3 class="text-center">Confirm or change your location</h3>

    <h5 class='red-font bold' id="map-coordinates"></h5>
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>

    <div class="button" id= "submit-order">
      <%= f.submit "Submit Order", class: "form-control btn btn-success" %>
    </div>
  <% end %>
</div>
