<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>
      <%= link_to item.title, supplier_item_path(id: item) %>
      <span class='item-price'>$<%= "#{sprintf("%0.2f",item.price)}" %></span>
    </h3>
  </div>
  <div class='panel-body'>
    <% if current_user && item.supplier == current_user.supplier %>
      <%= link_to 'Destroy',  edit_supplier_item_path(id: item, slug: params[:slug]), method: :delete, class: 'btn btn-danger item-price', data: { confirm: 'Are you sure? You can always retire this item.' } %>
      <% if item.active %>
        <%= link_to 'Retire', retire_supplier_item_path(item, slug: params[:slug]), method: :put, class: 'btn btn-warning item-price', data: { confirm: 'Retire this item?' } %>
      <% else %>
        <%= link_to 'Unretire', unretire_supplier_item_path(item, slug: params[:slug]), method: :put, class: 'btn btn-info item-price' %>
      <% end %>
      <%= link_to 'Edit', edit_supplier_item_path(id: item, slug: params[:slug]), class: 'btn btn-primary item-price' %>
    <% else %>
      <%= button_to "Add to Cart", cart_items_path(item_id: item, slug: params[:slug]), class: 'btn btn-default item-price' %>
    <% end %>
    <p><%= item.description %></p>
      <p><%= image_tag item.photo.url(:large), class: "img-responsive" %></p>
  </div>
</div>
