<h1 class= "text-center">Supplies by <%= current_supplier.name %></h1>
<div class='text-center'>
  <div style="display: none;" id="hiddenText">
    <h2>Phone: <%= current_supplier.phone %> </h2>
    <h2>Email: <%= current_supplier.email %> </h2>
    <h2>Address: <%= current_supplier.description%></h2>
  </div>
  <a href="#" onclick="$('#hiddenText').show(); return false;">Show more information for <%= current_supplier.name %></a>

  <%= search_form_for @search, url: "/#{@slug}/supplies" do |f| %>
    <%= hidden_field_tag :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, class: "input-sm search-field" %>
    <%= f.submit "search", name: nil, class: "btn btn-success"  %>
  <% end %>
</div>


<div class='col-md-6'>
  <% current_supplier.categories.each do |category| %>
    <h3 class='text-center'><%= category.name %></h3>
    <% if current_supplier_admin? %>
      <%= render partial: category.items %>
    <% else %>
      <%= render partial: category.items.active %>
   <% end %>
  <% end %>
</div>
