<div class="col-md-8 col-md-offset-2">
  <table class="table">
    <thead>
      <tr>
        <th>Item</td>
        <th class="text-center">Quantity</td>
        <th class="text-right">Price</td>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |item| %>
          <td><%= link_to item.title, item %></td>
          <td class="text-center"><%= link_to "-", "#", class: "remove-item", "data-item_id" => item.id %> <span class="item-count"><%= @cart.count_of(item) %></span> <%= link_to "+", "#", class: "add-item", "data-item_id" => item.id %></td>
          <td class="text-right"><%= "$#{sprintf("%0.2f",item.price)}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Checkout", new_order_path, class: 'form-control btn btn-success item-price' %>
</div>
