<div class='col-md-10 col-md-offset-1'>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th class="text-center">Supplier Name</th>
        <th class="text-center">Supplier Email</th>
        <th class="text-center">Web Address</th>
        <th class="text-center">Phone</th>
      </tr>
      <tbody>
        <tr>
          <td><%= @supplier.name %></td>
          <td><%= @email %></td>
          <td><%= @supplier.website %></td>
          <td><%= @supplier.phone %></td>
        </tr>
      </tbody>
      </thead>
  </table>
  <div class="footer-links">
    <% if current_user && current_user.supplier_admin? %>
      <div class="adminbutton"><%= link_to "Manage this supplier", supplier_dashboard_path(slug: current_user.supplier.slug) %></div>
    <% end %>
  </div>
</div>
