<div class="order col-md-10 col-md-offset-1">
  <a href=<%= supplier_order_path(id: order) %> ><h2 class="text-center">Order #<%= order.id %></h2></a>
  <% if order.status == 'Pending' %>
    <%= link_to 'Cancel Order', cancel_supplier_order_path(id: order), method: :put, class: 'btn btn-danger item-price', data: { confirm: 'Cancel this order? Action cannot be undone.' } %>
    <%= link_to 'Mark Paid', pay_supplier_order_path(id: order, slug: current_supplier.slug), method: :put, class: 'btn btn-info item-price', data: { confirm: 'Mark as paid?' } %>
  <% end %>
  <%= link_to 'Customer Info', user_path(order.user), class: 'btn btn-warning item-price' %>
  <p>Date: <%= order.created_at.strftime('%d/%m/%Y') %></p>
  <p>
    Status: <%= order.status %>
  </p>
  <p class="red-font">Lat: <%= order.coordinate.latitude %>, Long: <%= order.coordinate.longitude %></p>
  <table class="table">
    <thead>
      <td>Item</td>
      <td>Quantity</td>
      <td>Price</td>
      <td>Total</td>
    </thead>
    <tbody>
      <% order.unique_supplier_items(current_supplier).each do |item| %>
        <tr>
          <td><%= link_to item.title, item_path(item) %></td>
          <td><%= order.quantity(item.id) %></td>
          <td><%= order.display(item.price) %></td>
          <td><%= order.display(order.line_total(item)) %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td><%= order.display(order.total) %></td>
      </tr>
    </tbody>
  </table>
</div>
