<!DOCTYPE html>
<html>
<head>
  <title>AIRLIFT</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8psUqhexFnIdseHcXP6zhgp9H9uXgFo8">
  </script>
  <script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: -34.397, lng: 150.644},
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
  <div class="container">
    <%= render 'layouts/notices' %>
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
</body>
</html>
