<!DOCTYPE html>
<html>
<head>
  <title>AIRLIFT</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'burger_menu', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8psUqhexFnIdseHcXP6zhgp9H9uXgFo8">
  </script>
</head>
<body>
  <nav id="slide-menu">
    <div class="wrap">
      <ul>
        <li id="suppliers-index" role="presentation"><%=link_to 'All Suppliers', suppliers_path, id: 'suppliers-index' %></li>
        <% if current_user %>
        <% if current_user.admin? %>
        <li role="presentation"><%= link_to 'Admin', rails_admin_path, id: 'admin' %></li>
        <% end %>
        <li role="presentation"><%= link_to 'User', user_path(current_user) %></li>
        <li role="presentation"><%= link_to 'Logout', logout_path, id: 'logout', method: 'delete' %></li>
        <% else %>
        <li role="presentation"><%= link_to 'Register Customer', new_user_path %></li>
        <li role="presentation"><%= link_to 'Register Supplier', new_supplier_path %></li>
        <li role="presentation"><%= link_to 'Login', login_path, id: 'login' %></li>
        <% end %>
        <li role="presentation">
          <a href='<%= cart_items_path %>'>
            <span class='glyphicon glyphicon-shopping-cart'></span>
            <span class="badge"><%= @cart.count_total %></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="content" class="container">
    <div class="header row">
    <div class="col-xs-3 menu-trigger">
      <span class="glyphicon glyphicon-list burger-icon" aria-hidden="true"></span>
    </div>
      <div class="col-xs-3-offset-3 head-center">
        <div class ="logo">
          <h3><%= link_to 'AIRLIFT', root_path, id: 'logo-title' %></h3>
        </div>
      </div>
    </div>
    <%= render 'layouts/notices' %>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
