<!DOCTYPE html>
<html>
<head>
  <title>AIRLIFT</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8psUqhexFnIdseHcXP6zhgp9H9uXgFo8">
  </script>
</head>
<body>
  <nav id="slide-menu">
    <div class="wrap col-lg-12">
      <ul>
        <li>
          <%=link_to suppliers_path do %>
            Browse Suppliers
            <span class="glyphicon glyphicon-tags"></span>
          <% end %>
        </li>
        <% if current_user %>
          <% if current_user.admin? %>
            <li>
              <%= link_to rails_admin_path, id: 'admin' do %>
                Admin
                <span class="glyphicon.glyphicon-dashboard"></span>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to user_path(current_user) do %>
              User
              <span class="glyphicon glyphicon-cog"></span>
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, id: 'logout', method: 'delete' do %>
              Logout
              <span class="glyphicon glyphicon-log-out"></span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_path do %>
              Register Customer
              <span class="glyphicon glyphicon-user"></span>
            <% end %>
          </li>
          <li>
            <%= link_to new_supplier_path do %>
              Register Supplier
              <span class="glyphicon glyphicon-globe"></span>
            <% end %>
          </li>
          <li>
            <%= link_to login_path, id: 'login'  do %>
              Login
              <span class="glyphicon glyphicon-log-in"></span>
            <% end %>
          </li>
        <% end %>
        <li>
          <a href='<%= cart_items_path %>'>
            <span class='glyphicon glyphicon-shopping-cart'></span>
            <span class="badge"><%= @cart.count_total %></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="content" class="container">
    <div class="header row">
    <div class="col-xs-3 menu-trigger">
      <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
    </div>
      <div class="col-xs-3-offset-3 head-center">
        <div class ="logo">
          <h3><%= link_to 'AIRLIFT', root_path, id: 'logo-title' %></h3>
        </div>
      </div>
    </div>
    <%= render 'layouts/notices' %>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
