<!DOCTYPE html>
<html>
<head>
  <title>AIRLIFT</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width", initial-scale=1>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8psUqhexFnIdseHcXP6zhgp9H9uXgFo8">
  </script>
</head>
<body>
  <%= render "layouts/nav" %>

  <div id="content" class="container">

    <div class="header row">
      <%= render "layouts/menu_trigger" %>
      <%= render "layouts/logo" %>
    </div>
    <%= render 'layouts/notices' %>

    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
